.section {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px rgb(231, 229, 229);
}

.section__header {
    margin: 0;
    font-size: 21px;
}

.section__header--bottom {
    border-bottom: 1px solid rgb(231, 229, 229);
    padding: 15px;
}

.section__body {
    padding: 20px;
}

.section__panel {
    display: flex;
    flex-wrap: wrap;
}

.section__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    align-items: center;
    border-bottom: 1px solid rgb(231, 229, 229);
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }
}

.section__button {
    margin: 0 0 0 20px;
    color: teal;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .section__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.section__button:disabled {
    color: #ccc;
    cursor: not-allowed;
}